{% load static %}
<!DOCTYPE html>
<html lang="en">





<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>JEE & NEET Resources</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/theme.css ' %}">
  {% block extra_css %}{% endblock %}
</head>
<style>
  #nav2{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 66.1px;
  opacity: 0;
  display: flex;
  align-items: center;
  background-color: darkblue;
  z-index: 0;
  }
  .navbar{
    position: relative;
    z-index: 1;
  }
  .navbar ul{
    z-index: 999;
  }
  .navbar li{
  gap: 50px;
  z-index: 10;
}

</style>

<body>
  <header>
    <nav class="navbar">
      <div id="nav2"></div>
      <h1>NTARIP</h1>

      <div class="hamburger" id="hamburger">&#9776;</div>
      <div id="menuright">
        <ul class="nav-links" id="navLinks">
          <li><a href="/">Home</a></li>
          <li><a href="/jee">JEE</a></li>
          <li><a href="/neet">NEET</a></li>
          <li><a href="/jeeadvance">JEE ADVANCE</a></li>
          <li><a href="/formulasheet">Formula Sheets</a></li>
          <li><a href="#">About</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="/account/logout">{{ request.user }}</a></li>
          {% else %}
          <li><a href="/account/login">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

  {% block body %}
  {% endblock %}

  <!-- footer , contact us  -->

  <div class="contactus"></div>
  <div class="contactus">



  </div>
  </main>

  <!-- footer , contact us  -->

  <div class="contactus"></div>
  <div class="contactus"></div>

  <!-- Footer -->
  <footer>
    <p>&copy; 2025 NTARIP | Made by CodexSync</p>
  </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"
  integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script>
const nav2 = document.querySelector("#nav2")
const navbar = document.querySelector(".navbar")
navbar.addEventListener("mouseenter",()=>{
  gsap.fromTo(nav2, 
      { opacity: 0, x: "100%" },  // From right and invisible
      { opacity: 1, x: "0%", duration:2, ease: "power2.out" }  // To center and visible
    );
})
navbar.addEventListener("mouseleave", ()=>{
 gsap.to(nav2, {
      opacity: 0,
      x: "-100%",  // Slide out to the left
      duration: 2,
      ease: "power3.out"
    });
})

</script>

</html>