{% extends 'base.html' %} {% load static %} {% block title %} JEE & NEET
Resources {% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/theme.css' %}" />
{% endblock %} {% block body %}
<!-- Main Section -->
<div class="top">STUDY SMART</div>
<div class="top top1">Free JEE/NEET resources</div>

<main>
  <div class="card card1">
    <div class="text">JEE</div>
    <div class="text">Resources</div>
    <div class="text">🧪</div>
    <div class="text buttonjee">
      <div class="button"><button class="jeebutton">JEE MAINS</button></div>
      <div class="button"><button class="jeebutton">JEE ADVANCE</button></div>
    </div>
  </div>
  <div id="path">
    <svg width="100" height="500">
      <path d="M 50 0 Q 50 250 50 500" stroke="black" fill="transparent" />
    </svg>
  </div>

  <div class="card card2">
    <div class="text">NEET</div>
    <div class="text">Resources</div>
    <div class="text">🩺</div>
    <div class="text">
      <div class="button"><button type="button"></button></div>
    </div>
  </div>

  <div id="path2">
    <svg width="100" height="500">
      <path d="M 50 0 Q 50 250 50 500" stroke="black" fill="transparent" />
    </svg>
  </div>

  <div class="card card3">
    <div class="text">Formula</div>
    <div class="text">Sheet</div>
    <div class="text">📝</div>
    <div class="text">
      <div class="button"><button type="button"></button></div>
    </div>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
<script>
const tml = gsap.timeline()
tml.from(".card2",{
  duration: 0.1 ,
  delay:0.1,
  opacity: 0,
})
tml.from(".card1",{
  duration: 0.8,
  x: -100,
  opacity: 0,
  ease: "bounce.out",
})
tml.from(".card3",{
  duration: 0.8,
  x: 100,
  opacity: 0,
  ease: "bounce.out",
})

</script>

{% endblock %}
